
---
title: Team6
layout: base
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
    </head>
    <body>
         <!-- Added site name to header/NAV -->
    <header>
        <h1 style="font-size: 100px; color: black; margin: 10px;">{{ site }}</h1> 

        <nav class="navbar" style="font-size: 20px; ">
            <ul>
                <li><a href="{{ '/' | url }}" >Home</a></li>
                <li><a href="{{ '/aboutUs' | url}}">About Us</a></li>
            </ul>
        </nav>
         
    </header>
    


       <main>
            <hr>  
           {{content}}
                       

         
        
        <!-- Implemented Footer on the page. Added a line break for easy consumption.  -->
        <!-- Added a NAV based Site MAP to the footer  -->
            <hr>
            <footer">
                <!-- Added Copyright symbol, c -->
                <p>&copy;Copyright Team 6. All rights Reserved!</p>
                <nav>
                    <!-- site map at bottom of page so user has easy access to home/aboutUs  -->
                    <h3>Site Map:</h3>
                    <ul>
                        <a href="{{ '/' | url }}">Home </a>
                        <a href="{{ '/aboutUs' | url}}">About Us</a>
                    </ul>
                </nav>        
            </footer>
        </main>
    </body>
 
    </body>
</html>
