@tailwind base;
@tailwind components;
@tailwind utilities;

/*  style for h1 */
@layer base{
    h1{
        color: red;
        font-family: serif;
        font-size: 4rem;         

    }
    h3{        
        font-family: san-serif;
        font-size: 2rem;         

    }
    p{        
        color: green      

    }
    li{        
        color: blue       

    }
}

/* Custom Tailwind classes go here */
@layer components {

  
    .header_footer {
        @apply text-blue-900  font-bold text-3xl 
    }
    .hoover_to_purple {
        @apply hover:text-purple-900
    }
    .grid_layout {
        @apply grid grid-cols-3  
    } 
    .photo_links {
        @apply text-green-900  font-bold hover:text-red-800 
    }   
    .pagination_bar {
        @apply text-green-800  text-center  font-bold
    }
    .padding_lelf_righ_10{
        @apply px-10
    }
    .padding_all_side_40{
        @apply p-40
    }
    .margin_top_bottom_10{
        @apply py-10
    }
    .transition_scale_up_100 {
        @apply transition-transform transform hover:scale-100 h-16 w-full
    }
    .animation_zoom{
        @apply animate-pulse h-16 w-full
    }

    .transition_zoomout{
        @apply 	transition duration-150 ease-in-out 
      
    }
    .boder_double{
        @apply border-double border-4 border-blue-800
    }

}